<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
</head>
<script src="https://use.fontawesome.com/8fa1c275e2.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body class="px-5 py-3">
  <nav>

    <%- include ('partials/logout') -%>

  </nav>
  <br>


  <ul class="nav">
  <li class="nav-item">
    
    <button class="btn btn-outline-primary px-5" id="admin" onclick="admin()">Admin-related</button>
  </li>
  <li class="nav-item">
    
    <button  class="btn btn-outline-primary px-5" onclick="loggroup()">More than 1 resident</button>
  </li>
  <li class="nav-item">
    <button class="btn btn-outline-primary px-5" onclick="individuallog()"> 1 resident</button><br>
  </li>
 
</ul>

   
  
  <br>

    
  <h2 class="nodisplay"id="residentname"><%= resident %></h2>
    log your hours
    <%- include ('partials/groupresidentform') -%>
    <%- include ('partials/adminform') -%>
    <form  id ="loghourform"autocomplete="off" method="POST" action="/protected-route">

     
      <div class="form-group">
        <p id="residentword">Resident</p>:<br>
        
        <div class="autocomplete" style="width:300px;">
          <input id="myInput" type="text" name="residentname" placeholder="ResidentName" required />
        </div>
      </div>
        <br>
        <div class="form-group">
        <label for="activity_genre">Activity_Genre:</label>
        <select id="cars" name="activity_genre" required="required">
          <%- include ('partials/activitygenre') -%>
        </select>
        </div>
        <br>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Activity Description</label>
        <textarea class="form-control" name="activity_description" required id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div class="form-group">
        <label for="outcome_genre">Outcome_Genre:</label>
        <select id="cars" name="outcome_genre" required>
         
          <%- include ('partials/outcomegenre') -%>
        
        </select>
        </div>
        <br>
        
        <div class="form-group">
        <label for="exampleFormControlTextarea2">Outcome Description</label>
        <textarea class="form-control" name="outcome_description" required id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div class="form-group">
        Duration(in minutes)<br>
        <input type="number" name="Duration" required><br>
        </div>
        <div class="form-group">
      Roughly at what time did you start?(in 24 hour format, e.g 2pm is 14, 9am is 9 )<br>
        <input type="number" name="starttime" required>
        </div>
        <br>
        <div class="form-group">
        Date<br>
        <input type="date" name="date" required><br>
        </div>
        <br>
 
        <input class="nodisplay" type="text" value=<%= user._id %> name="Personresponsible" required><br>
        <br>
       
        <input  class="nodisplay" id="resident_id"type="text"  name="residentid" required><br>
        <br>
        
    
    </form>
    <button id="adminbutton"onclick="submitformadminform()"> submit admin form</button>
    <button id="groupbutton"onclick="submitformgroup()"> submit group form</button>
    <button id="individualbutton"onclick="submitform()"> submit individual form</button>

    
</body>

<script>
  

  function logout(){
        document.location.href = "/logout"
    }
  var groupbutton=document.getElementById("groupbutton");
  var adminbutton=document.getElementById("adminbutton");
  var individualbutton=document.getElementById("individualbutton");
  
  groupbutton.style.display="none"
  adminbutton.style.display="none"

  var groupform= document.getElementById("group-loghourform");
  groupform.style.display="none"

  var adminform= document.getElementById("admin-loghourform");
  adminform.style.display="none"

  var residentlist= document.getElementById('residentname')
  var allresidentkeyvalue = JSON.parse(residentlist.innerText);
  console.log(allresidentkeyvalue)

  var onlyname= []
  for(i=0;i<allresidentkeyvalue.length;i++){
    onlyname.push(allresidentkeyvalue[i].residentname)
  }
  console.log(onlyname)
  //after the user hit log in form
  function submitform(){
    console.log("hi")
    var nameonform= document.getElementById("myInput")
    console.log(nameonform.value)
    var nameonform=nameonform.value
    
  let index= onlyname.indexOf(nameonform)
  console.log(index)
  var residentid= allresidentkeyvalue[index]._id
  //populate on the form
  var formresidentid = document.getElementById("resident_id")
  formresidentid.value=residentid

  form=document.getElementById("loghourform")

  if(formresidentid.value!=null){
    var singlebutton= document.createElement("button")
    singlebutton.classList.add("noopacity")
    form.append(singlebutton)
    singlebutton.click()
    

  }
  else{
    console.log("fail")
  }
  



  }
 




  ///////////////////////////////////////

  //fucntionality 
  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
              //submit  it automatically
              var clicktoaddgroup= document.getElementById("clicktoaddgroup");
              clicktoaddgroup.click();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

autocomplete(document.getElementById("myInput"), onlyname);
autocomplete(document.getElementById("groupauto"), onlyname);


function admin(){
  var individualform= document.getElementById("loghourform");
  individualform.style.display="none"

  var groupform= document.getElementById("group-loghourform");
  groupform.style.display="none"

  var adminform= document.getElementById("admin-loghourform");
  adminform.style.display="block";

  groupbutton.style.display="none"
  adminbutton.style.display="block"
  individualbutton.style.display="none"
  

  
}
function loggroup(){
  var individualform= document.getElementById("loghourform");
  individualform.style.display="none"

  var groupform= document.getElementById("group-loghourform");
  groupform.style.display="block"

  var adminform= document.getElementById("admin-loghourform");
  adminform.style.display="none"

  var residentnamefield= document.getElementById("residentnamefieldgroup")
  residentnamefield.style.display="none"
  
  
  groupbutton.style.display="block"
  adminbutton.style.display="none"
  individualbutton.style.display="none"
  

  
}
function individuallog(){
  var individualform= document.getElementById("loghourform");
  individualform.style.display="block"

  var groupform= document.getElementById("group-loghourform");
  groupform.style.display="none"

  var adminform= document.getElementById("admin-loghourform");
  adminform.style.display="none"
  groupbutton.style.display="none"
  adminbutton.style.display="none"
  individualbutton.style.display="block"
  

  
}



//////handle the group resident logic //////////
var groupauto=document.getElementById("groupauto");
var residentgroupdom= document.getElementById("residentgroupdom")
var clicktoaddgroup= document.getElementById("clicktoaddgroup");
//automatically click it for me ....

clicktoaddgroup.addEventListener("click",()=>{
  //get value of groupauto then append it to resident group dom.
  
  console.log("detected")
  if(groupauto.value==""){
    groupauto.placeholder="please select resident"
  }
  else{

    var residentdomgroup= document.createElement("div")
  residentdomgroup.innerHTML= `${groupauto.value};`
  var deletetag= document.createElement("i")
  
  deletetag.classList.add("fa")
  deletetag.classList.add("fa-trash")
  deletetag.addEventListener("click",(e)=>{
    e.target.parentNode.remove();

  })
  residentdomgroup.append(deletetag)

  residentgroupdom.append(residentdomgroup)
  groupauto.value=""
    
  }
  


}


)

//if click add to group , get value of groupauto then append it to resident group dom.
//thenthe value of residentgroupdom and get all collection and innerhtml as a list .
function getresidentdomlist(){
  console.log(residentgroupdom.innerText)
  
  var newwordlist= residentgroupdom.innerText.replace(/\r?\n|\r/g, "");
  const myArr = newwordlist.split(";");
  const result =  myArr.filter(e =>  e);
  console.log(result)
  //have the list of resident names now to correspond to id , map it 
  var indexarray = result.map(x=>onlyname.indexOf(x))
  console.log(indexarray)

  var groupresidentidlist= indexarray.map(x=>allresidentkeyvalue[x]._id) 
  
  
  /////
  
  

  ///populate this 
  var id_field= document.getElementById("group-resident_id")
  id_field.value=groupresidentidlist

}

 function submitformgroup(){

  getresidentdomlist()
  //submit the form 
  var submitgroupform= document.getElementById("group-loghourform")
  var singlebutton= document.createElement("button")
    singlebutton.classList.add("noopacity")
    submitgroupform.append(singlebutton)
    singlebutton.click()

  
  


 }
function checkresidentduplicate(){


}

function submitformadminform(){
  var submitadminform= document.getElementById("admin-loghourform")

  var singlebutton= document.createElement("button")
    singlebutton.classList.add("noopacity")
    submitadminform.append(singlebutton)
    singlebutton.click()

  

}


</script>
</html>