<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/monthlyreport.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="px-5 py-3">
    <nav>

        <%- include ('partials/logout') -%>
        


    </nav>

   

   
   
    
    <form  method="POST" action="/monthlyreport">
        <%= name %>  Generation of Your monthly Report;<br>
        Filter<br>
        <label for="month">Month</label><br>
        <input type="number"  name="month"><br>
        <label for="year">Year:</label><br>
        <input type="number"  name="year">


        
        <input type="submit" value="Submit">
    
    </form>
   
 
    
    <h4>   Year: <%= y %> </h4>
    <h5>  Month: <%= month %>  </h3>

       
        

        


   

    <h1 id="csv" ><%= csv %></h1>
    <h2 id="header"><%= header %></h2>
    <h3 id="maincontent"><%= bodyoftable %></h3>

    Genrate exile file:
    
    <a download="monthlyreport.xls" href="#" onclick="return ExcellentExport.excel(this, 'mytable', `Monthly Gold Soul Report Month`);">Export to Excel</a>
    <table id="mytable" class="styled-table">
        <!-- here goes our data! -->
        <tr>
            <th>Year:<%= y %></th>
            <th>Month:<%= month %></th>
            <th>Name:<%= name %> </th>
            
        <tr>
            <th>Active engagment hours</th>
            <th>Passive engagement hours</th>
            <th>declined(frequency)</th>
            <th>others</th>
        </tr>
        <tr>
            <th><%= active/60 %> </th>
            <th><%= passive/60 %> </th>
            <th><%= decline %> </th>
            <th><%= other/60 %> </th>
            
            
        </tr>
        

    </table>
  
    
</body>

<script>

    var goodhours = document.getElementById("h6")
    var badhours = document.getElementById("h7")
    var others = document.getElementById("h8")
    console.log(goodhours)
    function logout(){
        document.location.href = "/logout"
    }
   
     

    var csv= document.getElementById('csv')
    var header= document.getElementById('header')
    var maincontent= document.getElementById('maincontent')
    


 

    
    

    

   
    var newheader =JSON.parse(`${header.innerText}`);
    var newcontent =JSON.parse(`${maincontent.innerText}`);
    

  
    var table = document.getElementById("mytable")
    var header = document.createElement('tr')
    header.setAttribute("id","header")
    header.classList.add("sticky")
    for(i=0;i<newheader.length;i++){
      var c=  document.createElement("th")
      c.innerText=newheader[i]
      header.append(c)
    }
    
    table.append(header)
 
    //append all the rows first
    for (i=0;i<newcontent.length;i++){
        var a = document.createElement('tr')
        //create th element 
        for(j=0;j<newcontent[i].length;j++){
            var b = document.createElement('th')
           
            b.innerText= JSON.stringify(newcontent[i][j])
            
           
            var cc= newcontent[i][j]

            if(b.innerText=="{}"){
                console.log("hi")
                
                b.innerText="_"
                b.classList.add("contentempty")
                a.append(b)

            }
            else if(j==0){
                b.classList.add("contentempty")
                a.append(b)


            }
            else{
                //make sure have to process this part....
                b.classList.add("contentmod")
                
                a.append(b)
                
            }
            
           

         

           

           

        }
    
        
    
    table.append(a)
    }
   

    //contruct a table 

    // after the table wait for a couple seconds:
    var oldmodlist= document.getElementsByClassName("contentmod")
    console.log(oldmodlist)
    
    
    var collectionlist=[]
    for (item of oldmodlist) {
        collectionlist.push(item
        )
        }
        
        //maybe convert it back to array?
       
        newcollectionlist=[]

        for(i=0;i<collectionlist.length;i++){
            //here need to modify............
            //if it is an object....do something
            //have to differentiate between object and array.....
           
            newcollectionlist.push( JSON.parse(`${collectionlist[i].innerText}`))


        }

      
        //now for this newcollection list, identify whether it is a nested object or not , if yers then do different things...

console.log(newcollectionlist)

    
        for(i=0;i<oldmodlist.length;i++){
           
            a= document.createElement("div")
            var contenttobeset=""

            if(newcollectionlist[i].activitygen==undefined){
                //set color to green ;
                //mean it is nested 
                console.log("nested")
               
                var valueofobj= Object.values(newcollectionlist[i]);
                var noofnestedobjs= valueofobj.length
                console.log(valueofobj)
                //below value is the data i need 
                console.log(valueofobj[0])
                

                function generatecontent(allcontent){
                    var domfinal=[]
                    for(j=0;j<allcontent.length;j++){
                        var entry = 
                        `
                        <div class="accordion">
                        <br>
                        <div>Activity Genre :<br> ${allcontent[j].activitygen}</div>
                        
                        <div>Outcome Genre:<br> ${allcontent[j].outcomegen}</div>
                        
                        <br>
                        </div>
                        <div class="panel">
                        <div>--------------------</div>
                        <div>Duration:${allcontent[j].Duration}</div>
                        <div>Activity Description : ${allcontent[j].des}</div>
                        
                        <div>Outcome Description: ${allcontent[j].outcomedes}</div>
                        <div>--------------------</div>

                        </div>
                        

                        
                        `
                        domfinal.push(entry)

                    }
                    return domfinal.join('')
                   
                


                }
                

                    console.log(generatecontent(valueofobj))
                    

                    contenttobeset= generatecontent(valueofobj)
                    
            
                
                //need to figure out ho man nested obejts
            }
            else{
                //meaning it is defined and it is not nested 
                 a.innerHTML=
            ` 
            
            <div class="accordion">
                <strong> <p> Activity Genre:<br> ${newcollectionlist[i].activitygen}</p></strong>
                <strong> <p>Outcome Genre:<br>${newcollectionlist[i].outcomegen}</p></strong>
               
                
                
                
            </div>
          
             <div class="panel">
                <strong> <p>Duration:<br>${newcollectionlist[i].Duration}</p></strong>
            <p>Activity Description:<br> ${newcollectionlist[i].activitydes}</p>
                       
            <p>Outcome description:${newcollectionlist[i].outcomedes}</p>
                
            </div>

            `
            
            contenttobeset=a.innerHTML
               
               
            

            }

            //////
           
            oldmodlist[i].innerHTML= contenttobeset

           
            


    }
            //have to populat it here below....

             //get accordian 
        var acc = document.getElementsByClassName("accordion");
        console.log(acc)
                var i;
                for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                    } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
                }


            //////////////////////////////

        

    
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/excellentexport@3.4.3/dist/excellentexport.min.js"></script>


</html>